fastapi
uvicorn
sqlalchemy
pydantic
aiofiles
python-multipart
langchain
openai
requests
PyMuPDF
sentence-transformers 
langchain-community
faiss-cpu
huggingface-hub
transformers
torch
numpy
python-dotenv